<h1>Addresses</h1> <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Street no</th>
      <th>Street Name</th>
      <th>Surburb</th>
      <th>Province</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>12</td>
      <td>Walvis Laan</td>
      <td>Bloemside 1</td>
      <td>Free State</td>
    </tr>
    <tr>
      <th>1</th>
      <td>427</td>
      <td>Grobbler Laan</td>
      <td>No Idea</td>
      <td>Free State</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Rudolf Greyling</td>
      <td>Estoire</td>
      <td>Free State</td>
    </tr>
    <tr>
      <th>3</th>
      <td>90</td>
      <td>Frog</td>
      <td>Pond</td>
      <td>Gauteng</td>
    </tr>
    <tr>
      <th>4</th>
      <td>91</td>
      <td>Frog</td>
      <td>Pond</td>
      <td>Gauteng</td>
    </tr>
    <tr>
      <th>5</th>
      <td>23</td>
      <td>Outside</td>
      <td>Queen</td>
      <td>Free State</td>
    </tr>
    <tr>
      <th>6</th>
      <td>37</td>
      <td>Flask</td>
      <td>Python</td>
      <td>Western Cape</td>
    </tr>
  </tbody>
</table>