<html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>My Address Book</h1>
            <h2>
               Please choose an action below</br>
            </h2>
        <form action = '/RenderAdd_Address' method="POST" >
            <input type = "submit" value = "Add Address" name = "Add_Address" >
        </form>
        <form action = '/Search_Address' method = "POST">
            <input type = "submit" value = "Search Address" name = "Search_Address" >
        </form>
        <form action = '/Show_Addresses' method = "POST">
            <input type = "submit" value = "Show Addresses" name = "Show_Address" >
        </form> 
        {{Results}}       
    </body>
    </html>
</html>