<html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>My Address Book</h1>
        <form>
            <h2>
                I'll put something here</br>
            </h2>
        </form>
        <form method="POST" action = '/Add_Address'>
            <input type = "submit" value = "Add Address" name = "Add_Address" >
        </form>     
    </body>
    </html>
</html>